{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "current"
                }
            }
        ]
    ],
    "plugins": [
        [
            "babel-plugin-root-import",
            {
                "root":"src",
                "rootPathSuffix": "./",
                "rootPathPrefix": "~"
            }
        ]
    ],
    "ignore": []
}