<div class="article-banner">
  <div class="article-banner__img"></div>
  <div class="article-banner__mask"></div>
  <div class="article-banner__title">
    <div class="main-wrap">
      <div class="article-detail__time">
        <b>「 </b>
        <% detail.category.forEach(function(cate){ %>
        <span>
          <%= cate.name %>
        </span>

        <% }) %>
        <b>」</b>
        四月 25, 2020
      </div>
      <div class="article-detail__title">
        <%= detail.name %>
      </div>
      <div class="article-detail__tags">
        <% detail.tags.forEach(function(tag){ %>
        <span>
          <%= tag.name %>
        </span>
        <% }) %>
      </div>
    </div>
  </div>
</div>
