<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta content="" name="keywords" />
<meta content="" name="description" />
<meta content="摩诘" name="Author" />
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<title><%= title %> - 夜猫子后台管理</title>
<link rel="stylesheet" href="/common/styles/font/iconfont.css" />
<link rel="stylesheet" href="/admin/assets/styles/common.css" />
<link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/2.0.1/weui.min.css">
<script type="text/javascript" src="https://res.wx.qq.com/open/libs/weuijs/1.2.1/weui.min.js"></script>
<script src="/common/js/jquery-3.5.1.min.js"></script>
<script src='/common/js/jquery.cookie.js'></script>