.card-container .ymz-card{
  margin: 0 10px;
}
.welcome-container{
  text-align: center;
  padding: 20px;
}
.welcome-poster{
  width: 400px;
}
.welcome-text h3{
  font-size: 16px;
  padding: 20px 0;
  color: #434343;
}