<div class="main-content__container">
  <!-- <div class="article-search__container main-wrap"> -->

  <!-- </div> -->
  <div class="panel-container main-wrap">
    <div class="panel-title">最新文章</div>
    <div class="panel-list__container">
      <div class="panel-item__container">
        <div class="panel-item__wrap">
          <div class="item-thumb">

          </div>
          <div class="item-info">
            <div class="item-title">
              耳机——音乐最佳拍档的创意Banner设计！
            </div>
            <div class="item-detail-info clearfix">
              <span class="item-author">
                摩诘
              </span>
              <span class="item-cate">
                源码分析
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-item__container">
        <div class="panel-item__wrap">
          <div class="item-thumb">
            
          </div>
          <div class="item-info">
            <div class="item-title">
              耳机——音乐最佳拍档的创意Banner设计！
            </div>
            <div class="item-detail-info clearfix">
              <span class="item-author">
                摩诘
              </span>
              <span class="item-cate">
                源码分析
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-item__container">
        <div class="panel-item__wrap">
          <div class="item-thumb">
            
          </div>
          <div class="item-info">
            <div class="item-title">
              耳机——音乐最佳拍档的创意Banner设计！
            </div>
            <div class="item-detail-info clearfix">
              <span class="item-author">
                摩诘
              </span>
              <span class="item-cate">
                源码分析
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-item__container">
        <div class="panel-item__wrap">
          <div class="item-thumb">
            
          </div>
          <div class="item-info">
            <div class="item-title">
              耳机——音乐最佳拍档的创意Banner设计！
            </div>
            <div class="item-detail-info clearfix">
              <span class="item-author">
                摩诘
              </span>
              <span class="item-cate">
                源码分析
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-item__container">
        <div class="panel-item__wrap">
          <div class="item-thumb">
            
          </div>
          <div class="item-info">
            <div class="item-title">
              耳机——音乐最佳拍档的创意Banner设计！
            </div>
            <div class="item-detail-info clearfix">
              <span class="item-author">
                摩诘
              </span>
              <span class="item-cate">
                源码分析
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-operation__container">
      <a href="javascript:;" class="btn btn-blue">查看更多</a>
    </div>
  </div>
</div>
