<div class="main-content__container">
  <!-- <div class="article-search__container main-wrap"> -->

  <!-- </div> -->
  <div class="panel-container main-wrap">
    <div class="panel-title">最新文章</div>
    <div class="panel-list__container">
      <% latest.forEach(function(item){ %>
      <div class="panel-item__container">
        <div class="panel-item__wrap">
          <a href="/p/<%= item.id%>">
            <div class="item-thumb"></div>
            <div class="item-info">
              <div class="item-title">
                <%= item.name %>
              </div>
              <div class="item-detail-info clearfix">
                <span class="item-author">
                  <%= item.author %>
                </span>

                <% item.category.forEach(function(cate){ %>
                <span class="item-cate">
                  <%= cate.name%>
                </span>
                <% }) %>
              </div>
            </div>
          </a>
        </div>
      </div>
      <% }) %>
    </div>
    <div class="panel-operation__container">
      <a href="javascript:;" class="btn btn-blue">查看更多</a>
    </div>
  </div>
</div>
