<div class="yemaoz-header__container">
  <div class="main-wrap">
    <div class="header-logo__container clearfix">
      <a href="/">
        <span class="header-logo__img"></span>
        <span class="header-logo__name">夜猫子前端日记</span>
      </a>
    </div>
    <div class="header-nav-container">
      <ul class="header-nav clearfix">
        <li class="active">
          <a href="">夜猫子</a>
        </li>
        <li>
          <a href="">分类</a>
        </li>
        <li>
          <a href="">实验室</a>
        </li>
        <li>
          <a href="">关于我</a>
        </li>
      </ul>
      <div class="header-search__container">
        <span class="header-search-icon"></span>
        <span class="header-search-text">搜索</span>
      </div>
    </div>
  </div>
</div>
