<div class="sidebar-container">
  <div class="logo-container">
    <a href="/admin/dashboard">
      <span class="logo"></span>
      <span class="title">
        夜猫子后台管理
      </span>
    </a>
  </div>
  <div class="nav-container">
    <ul>
      <li>
        <a href="/admin/category" class="<%= locals.menu && locals.menu == 'yuque'? 'active':'' %>">
          <i class="iconfont icon-yuqueicon"></i>
          <span class="nav-text">语雀管理</span>
        </a>
      </li>

      <li>
        <a href="/admin/list" class="<%= locals.menu && locals.menu == 'list'? 'active':'' %>">
          <i class="iconfont icon--maotouying"></i>
          <span class="nav-text">统计管理</span>
        </a>
      </li>

      <li>
        <a href="/admin/users" class="<%= locals.menu && locals.menu == 'users'? 'active':'' %>">
          <i class="iconfont icon-guanliyuan"></i>
          <span class="nav-text">团队管理</span>
        </a>
      </li>
    </ul>
  </div>
</div>